*{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 17);
    /* background-image: url(WhatsApp\ Image\ 2025-10-03\ at\ 13.08.01_ddbc0375.jpg); */
    background-size: cover;
    padding-left: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
.but{
    background-color: rgb(170, 170, 221);
    color: white;
    cursor: pointer;
}
.but:hover{
    background-color: rgb(202, 123, 123);
}
.body{
    margin-top: 5px;
    color: white;
    justify-content: center;
    font-size: 27px;
    
}
.body2{
    margin-top: 5px;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 19px;
    
}
.button{
    background-color: rgb(50, 50, 73);
    color: white;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    margin-top: 40px;
    gap: 100px;
    cursor: pointer;
    
}
.button:hover{
    background-color: blue;
}
